.confirmation-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.confirmation-image {
    width: 45%;
    border-radius: 16px;
}

.confirmation--text {
    width: 45%
}

.heading_title {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.heading_subTitle {
    color: var(--primary-green);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.heading_subTitle--thanks {
    font-size: 1.5rem;
}

.redirect-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.btn--noDecortion {
    text-decoration: none;
}