.testimonials {
    background-color: var(--primary-green);
    color: var(--secondary-light);
}

.testimonials_title {
    font-size: 4rem;
    left: 50%;
}

.testimonial_title_container {
    display: flex;
    justify-content: center;
}

.testimonials_ratings {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;

    margin: 2rem 0;
}

.testimonials_rating_card {
    background-color: var(--secondary-light);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

    color: black;

    padding: 1rem 3rem;
}