:root {
    --primary-green: #495e57;
    --primary-yellow: #f4ce14;

    --secondary-orange: #ee9972;
    --secondary-light-range: #fbdabb;
    --secondary-light: #edefee;
    --secondary-dark: #333333;

    --transition-time: 0.2s ease-in-out;
}

* {
    font-family: "Karla" "Markazi Text" serif;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
  }

.container {
    margin: 0 auto;
    padding: 2rem;

    max-width: 1000px;
}

@media (max-width: 760px) {
    html {
      font-size: 14px;
    }
  }